social medias/feedly
{
  "name": "Save URL: notion, feedly",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 1025716,
        "maxResults": 1
      },
      "mapper": { },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 450
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "airtable-save-url"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "name": "title",
            "type": "text"
          },
          {
            "name": "url",
            "type": "text"
          },
          {
            "name": "description",
            "type": "text"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "ca": "",
        "qs": [ ],
        "url": "https://sparkling-semolina-b65f8e.netlify.app/.netlify/functions/unfluff?url={{1.url}}",
        "data": "",
        "gzip": true,
        "method": "get",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "timeout": "",
        "useMtls": false,
        "authPass": "",
        "authUser": "",
        "bodyType": "raw",
        "contentType": "application/json",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450,
          "name": "Read URL"
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose"
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ],
              "collapsed": true
            },
            "bodyType": {
              "label": "Raw"
            },
            "contentType": {
              "label": "JSON (application/json)"
            }
          }
        },
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          },
          {
            "name": "useNewZLibDeCompress",
            "type": "hidden"
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": [
                "raw",
                "x_www_form_urlencoded",
                "multipart_form_data"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "authUser",
            "type": "text",
            "label": "User name"
          },
          {
            "name": "authPass",
            "type": "password",
            "label": "Password"
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "ca",
            "type": "cert",
            "label": "Self-signed certificate"
          },
          {
            "name": "rejectUnauthorized",
            "type": "boolean",
            "label": "Reject connections that are using unverified (self-signed) certificates",
            "required": true
          },
          {
            "name": "followRedirect",
            "type": "boolean",
            "label": "Follow redirect",
            "required": true
          },
          {
            "name": "useQuerystring",
            "type": "boolean",
            "label": "Disable serialization of multiple same query string keys as arrays",
            "required": true
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "useMtls",
            "type": "boolean",
            "label": "Use Mutual TLS",
            "required": true
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Content type",
            "validate": {
              "enum": [
                "text/plain",
                "application/json",
                "application/xml",
                "text/xml",
                "text/html",
                "custom"
              ]
            }
          },
          {
            "name": "data",
            "type": "buffer",
            "label": "Request content"
          },
          {
            "name": "followAllRedirects",
            "type": "boolean",
            "label": "Follow all redirect",
            "required": true
          }
        ],
        "advanced": true
      },
      "onerror": [
        {
          "id": 5,
          "module": "gateway:WebhookRespond",
          "version": 1,
          "parameters": { },
          "mapper": {
            "body": "{\"status\": \"error\", \"message\": \"Can't read this page.\"}",
            "status": 404,
            "headers": [
              {
                "key": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 900,
              "name": "Error"
            },
            "restore": {
              "expect": {
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                }
              }
            },
            "expect": [
              {
                "name": "status",
                "type": "uinteger",
                "label": "Status",
                "required": true,
                "validate": {
                  "min": 100
                }
              },
              {
                "name": "body",
                "type": "any",
                "label": "Body"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "key",
                    "type": "text",
                    "label": "Key",
                    "required": true,
                    "validate": {
                      "max": 256
                    }
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value",
                    "required": true,
                    "validate": {
                      "max": 4096
                    }
                  }
                ],
                "type": "array",
                "label": "Custom headers",
                "validate": {
                  "maxItems": 16
                }
              }
            ],
            "advanced": true
          }
        }
      ]
    },
    {
      "id": 8,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": 120089
      },
      "mapper": {
        "json": "{{4.data}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 300
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "My data structure"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ],
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "title",
            "type": "text",
            "label": "Title",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "softTitle",
            "type": "text",
            "label": "Soft Title",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "date",
            "type": "date",
            "label": "Date",
            "required": false
          },
          {
            "name": "author",
            "spec": {
              "type": "text",
              "default": null,
              "required": false,
              "multiline": false
            },
            "type": "array",
            "label": "Author",
            "required": false
          },
          {
            "name": "publisher",
            "type": "text",
            "label": "Publisher",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "copyright",
            "type": "text",
            "label": "Copyright",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "description",
            "type": "text",
            "label": "Description",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "lang",
            "type": "text",
            "label": "Lang",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "canonicalLink",
            "type": "text",
            "label": "Canonical Link",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "tags",
            "spec": {
              "type": "text",
              "default": null,
              "required": false,
              "multiline": false
            },
            "type": "array",
            "label": "Tags",
            "required": false
          },
          {
            "name": "image",
            "type": "text",
            "label": "Image",
            "default": null,
            "required": false,
            "multiline": false
          },
          {
            "name": "videos",
            "spec": {
              "type": "text",
              "default": null,
              "required": false,
              "multiline": false
            },
            "type": "array",
            "label": "Videos",
            "required": false
          },
          {
            "name": "links",
            "spec": {
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                },
                {
                  "name": "href",
                  "type": "text",
                  "label": null,
                  "default": null,
                  "required": false,
                  "multiline": false
                }
              ],
              "type": "collection",
              "required": false
            },
            "type": "array",
            "label": "Links",
            "required": false
          },
          {
            "name": "text",
            "type": "text",
            "label": "Text",
            "default": null,
            "required": false,
            "multiline": false
          }
        ]
      }
    },
    {
      "id": 7,
      "module": "feedly:AddEntryToPersonalBoard",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 2061306
      },
      "mapper": {
        "url": "{{1.url}}",
        "resourceId": "user/1f8f1ced-acd8-45a4-ab65-07ff06bbbd49/tag/d853815c-576b-43c5-a409-88172088723c"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 300
        },
        "restore": {
          "expect": {
            "resourceId": {
              "label": "Automation"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "feedly"
              },
              "label": "feedly auth (hernackikacper@gmail.com)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:feedly",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "Article URL",
            "required": true
          },
          {
            "name": "resourceId",
            "type": "select",
            "label": "Board",
            "required": true
          }
        ]
      },
      "onerror": [
        {
          "id": 10,
          "module": "builtin:BasicRouter",
          "version": 1,
          "mapper": null,
          "metadata": {
            "designer": {
              "x": 1200,
              "y": 450
            }
          },
          "routes": [
            {
              "flow": [
                {
                  "id": 13,
                  "module": "feedly:CreatePersonalArticle",
                  "version": 1,
                  "parameters": {
                    "__IMTCONN__": 2061306
                  },
                  "filter": {
                    "name": "",
                    "conditions": [
                      [
                        {
                          "a": "yout",
                          "o": "notexist"
                        }
                      ]
                    ]
                  },
                  "mapper": {
                    "url": "{{1.url}}",
                    "title": "{{8.title}}",
                    "author": "{{8.author[]}}",
                    "comment": "{{8.softTitle}}",
                    "content": "{{8.description}}",
                    "resourceId": "user/1f8f1ced-acd8-45a4-ab65-07ff06bbbd49/tag/d853815c-576b-43c5-a409-88172088723c"
                  },
                  "metadata": {
                    "designer": {
                      "x": 1500,
                      "y": 300
                    },
                    "restore": {
                      "expect": {
                        "resourceId": {
                          "label": "Automation"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "feedly"
                          },
                          "label": "feedly auth (hernackikacper@gmail.com)"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:feedly",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "Article URL",
                        "required": true
                      },
                      {
                        "name": "resourceId",
                        "type": "select",
                        "label": "Board",
                        "required": true
                      },
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Article Content",
                        "required": true
                      },
                      {
                        "name": "title",
                        "type": "text",
                        "label": "Article Title",
                        "required": true
                      },
                      {
                        "name": "author",
                        "type": "text",
                        "label": "Article Author"
                      },
                      {
                        "name": "comment",
                        "type": "text",
                        "label": "Note"
                      }
                    ]
                  }
                },
                {
                  "id": 17,
                  "module": "notion:createAPage",
                  "version": 1,
                  "parameters": {
                    "__IMTCONN__": 2062024
                  },
                  "mapper": {
                    "fields": [
                      {
                        "key": "Name",
                        "type": "title",
                        "value": "{{8.title}}"
                      },
                      {
                        "key": "context",
                        "type": "rich_text",
                        "value": "{{8.softTitle}}"
                      },
                      {
                        "key": "Tags",
                        "type": "multi_select",
                        "value": "{{8.tags[]}}"
                      },
                      {
                        "key": "URL",
                        "type": "url",
                        "value": "{{1.url}}"
                      }
                    ],
                    "select": "map",
                    "database": "4f509ca4-c7bf-4dbf-ab46-3a3e8d11aa40"
                  },
                  "metadata": {
                    "designer": {
                      "x": 1800,
                      "y": 300
                    },
                    "restore": {
                      "expect": {
                        "fields": {
                          "mode": "chose",
                          "items": [
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Title"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Rich text"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Multi select"
                              },
                              "value": {
                                "mode": "edit"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "URL"
                              }
                            }
                          ]
                        },
                        "select": {
                          "label": "Enter manually"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "notion3"
                          },
                          "label": "Notion Internal connection"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                          "enum": [
                            "map",
                            "list"
                          ]
                        }
                      },
                      {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                      },
                      {
                        "name": "fields",
                        "spec": [
                          {
                            "name": "key",
                            "type": "text",
                            "label": "Key",
                            "required": true
                          },
                          {
                            "name": "type",
                            "type": "select",
                            "label": "Value Type",
                            "options": [
                              {
                                "label": "Title",
                                "value": "title",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Text",
                                "value": "text",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ],
                                "default": true
                              },
                              {
                                "label": "Rich text",
                                "value": "rich_text",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Email",
                                "value": "email",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Select",
                                "value": "select",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Status",
                                "value": "status",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Multi select",
                                "value": "multi_select",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Phone number",
                                "value": "phone_number",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Checkbox",
                                "value": "checkbox",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "boolean",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "url",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Number",
                                "value": "number",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "number",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "People",
                                "value": "people",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Date",
                                "value": "date",
                                "nested": [
                                  {
                                    "name": "date",
                                    "spec": [
                                      {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Time"
                                      },
                                      {
                                        "help": "Optional. Use only when entering a date range.",
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Time"
                                      },
                                      {
                                        "name": "includeTime",
                                        "type": "select",
                                        "label": "Include Time",
                                        "options": [
                                          {
                                            "label": "Yes",
                                            "value": true
                                          },
                                          {
                                            "label": "No",
                                            "value": false
                                          }
                                        ]
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                  }
                                ]
                              },
                              {
                                "label": "Relation",
                                "value": "relation",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              }
                            ],
                            "required": true
                          }
                        ],
                        "type": "array",
                        "label": "Fields"
                      }
                    ],
                    "interface": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                      },
                      {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                      },
                      {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                      },
                      {
                        "name": "created_by",
                        "spec": [
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "id",
                            "type": "uuid",
                            "label": "ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Created by"
                      },
                      {
                        "name": "last_edited_by",
                        "spec": [
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "id",
                            "type": "uuid",
                            "label": "ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                      },
                      {
                        "name": "icon",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "emoji",
                            "type": "text",
                            "label": "Emoji"
                          }
                        ],
                        "type": "collection",
                        "label": "Icon"
                      },
                      {
                        "name": "cover",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "external",
                            "spec": [
                              {
                                "name": "url",
                                "type": "text",
                                "label": "URL"
                              }
                            ],
                            "type": "collection",
                            "label": "External"
                          }
                        ],
                        "type": "collection",
                        "label": "Cover"
                      },
                      {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                      },
                      {
                        "name": "parent",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "workspace",
                            "type": "boolean",
                            "label": "Workspace"
                          },
                          {
                            "name": "page_id",
                            "type": "text",
                            "label": "Page ID"
                          },
                          {
                            "name": "database_id",
                            "type": "text",
                            "label": "Database ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Parent"
                      },
                      {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                      },
                      {
                        "name": "properties",
                        "spec": {
                          "spec": [
                            {
                              "name": "id",
                              "type": "text",
                              "label": "ID"
                            },
                            {
                              "name": "type",
                              "type": "text",
                              "label": "Type"
                            },
                            {
                              "name": "people",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                  },
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "avatar_url",
                                    "type": "text",
                                    "label": "Avatar Url"
                                  },
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "person",
                                    "spec": [
                                      {
                                        "name": "email",
                                        "type": "text",
                                        "label": "Email"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Person"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "People"
                            },
                            {
                              "name": "url",
                              "type": "text",
                              "label": "URL"
                            },
                            {
                              "name": "text",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "text",
                                    "spec": [
                                      {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                      },
                                      {
                                        "name": "link",
                                        "type": "text",
                                        "label": "Link"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                  },
                                  {
                                    "name": "annotations",
                                    "spec": [
                                      {
                                        "name": "bold",
                                        "type": "boolean",
                                        "label": "Bold"
                                      },
                                      {
                                        "name": "italic",
                                        "type": "boolean",
                                        "label": "Italic"
                                      },
                                      {
                                        "name": "strikethrough",
                                        "type": "boolean",
                                        "label": "Strikethrough"
                                      },
                                      {
                                        "name": "underline",
                                        "type": "boolean",
                                        "label": "Underline"
                                      },
                                      {
                                        "name": "code",
                                        "type": "boolean",
                                        "label": "Code"
                                      },
                                      {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                  },
                                  {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                  },
                                  {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Text"
                            },
                            {
                              "name": "select",
                              "spec": [
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "color",
                                  "type": "text",
                                  "label": "Color"
                                }
                              ],
                              "type": "collection",
                              "label": "Select"
                            },
                            {
                              "name": "email",
                              "type": "text",
                              "label": "Email"
                            },
                            {
                              "name": "phone_number",
                              "type": "text",
                              "label": "Phone Number"
                            },
                            {
                              "name": "multi_select",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Multi Select"
                            },
                            {
                              "name": "date",
                              "spec": [
                                {
                                  "name": "start",
                                  "type": "text",
                                  "label": "Start"
                                },
                                {
                                  "name": "end",
                                  "type": "text",
                                  "label": "End"
                                }
                              ],
                              "type": "collection",
                              "label": "Date"
                            },
                            {
                              "name": "checkbox",
                              "type": "boolean",
                              "label": "Checkbox"
                            },
                            {
                              "name": "number",
                              "type": "number",
                              "label": "Number"
                            },
                            {
                              "name": "files",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Files"
                            },
                            {
                              "name": "title",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "text",
                                    "spec": [
                                      {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                      },
                                      {
                                        "name": "link",
                                        "type": "text",
                                        "label": "Link"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                  },
                                  {
                                    "name": "annotations",
                                    "spec": [
                                      {
                                        "name": "bold",
                                        "type": "boolean",
                                        "label": "Bold"
                                      },
                                      {
                                        "name": "italic",
                                        "type": "boolean",
                                        "label": "Italic"
                                      },
                                      {
                                        "name": "strikethrough",
                                        "type": "boolean",
                                        "label": "Strikethrough"
                                      },
                                      {
                                        "name": "underline",
                                        "type": "boolean",
                                        "label": "Underline"
                                      },
                                      {
                                        "name": "code",
                                        "type": "boolean",
                                        "label": "Code"
                                      },
                                      {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                  },
                                  {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                  },
                                  {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Title"
                            },
                            {
                              "name": "last_edited_time",
                              "time": true,
                              "type": "date",
                              "label": "Last Edited Time"
                            },
                            {
                              "name": "created_time",
                              "time": true,
                              "type": "date",
                              "label": "Created Time"
                            },
                            {
                              "name": "last_edited_by",
                              "spec": [
                                {
                                  "name": "object",
                                  "type": "text",
                                  "label": "Object"
                                },
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "avatar_url",
                                  "type": "text",
                                  "label": "Avatar Url"
                                },
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "person",
                                  "spec": [
                                    {
                                      "name": "email",
                                      "type": "text",
                                      "label": "Email"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Person"
                                }
                              ],
                              "type": "collection",
                              "label": "Last Edited By"
                            },
                            {
                              "name": "created_by",
                              "spec": [
                                {
                                  "name": "object",
                                  "type": "text",
                                  "label": "Object"
                                },
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "avatar_url",
                                  "type": "text",
                                  "label": "Avatar Url"
                                },
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "person",
                                  "spec": [
                                    {
                                      "name": "email",
                                      "type": "text",
                                      "label": "Email"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Person"
                                }
                              ],
                              "type": "collection",
                              "label": "Created By"
                            },
                            {
                              "name": "formula",
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "string",
                                  "type": "text",
                                  "label": "String"
                                }
                              ],
                              "type": "collection",
                              "label": "Formula"
                            },
                            {
                              "name": "relation",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Relation"
                            },
                            {
                              "name": "label",
                              "type": "text",
                              "label": "Label"
                            }
                          ],
                          "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                      },
                      {
                        "name": "properties_value",
                        "spec": [
                          {
                            "name": "context",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "context"
                          },
                          {
                            "name": "description",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "description"
                          },
                          {
                            "name": "Created",
                            "type": "date",
                            "label": "Created"
                          },
                          {
                            "name": "Tags",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                              },
                              {
                                "name": "color",
                                "type": "text",
                                "label": "Color"
                              }
                            ],
                            "type": "array",
                            "label": "Tags"
                          },
                          {
                            "name": "URL",
                            "type": "text",
                            "label": "URL"
                          },
                          {
                            "name": "Name",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "Name"
                          }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                      }
                    ]
                  }
                },
                {
                  "id": 14,
                  "module": "gateway:WebhookRespond",
                  "version": 1,
                  "parameters": { },
                  "mapper": {
                    "body": "{\"status\": \"error\", \"message\": \"Link saved\"}",
                    "status": "200",
                    "headers": [
                      {
                        "key": "Content-Type",
                        "value": "application/json"
                      }
                    ]
                  },
                  "metadata": {
                    "designer": {
                      "x": 2100,
                      "y": 300,
                      "name": "Sucess"
                    },
                    "restore": {
                      "expect": {
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        }
                      }
                    },
                    "expect": [
                      {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                          "min": 100
                        }
                      },
                      {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "key",
                            "type": "text",
                            "label": "Key",
                            "required": true,
                            "validate": {
                              "max": 256
                            }
                          },
                          {
                            "name": "value",
                            "type": "text",
                            "label": "Value",
                            "required": true,
                            "validate": {
                              "max": 4096
                            }
                          }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                          "maxItems": 16
                        }
                      }
                    ],
                    "advanced": true
                  }
                }
              ]
            },
            {
              "flow": [
                {
                  "id": 12,
                  "module": "feedly:CreatePersonalArticle",
                  "version": 1,
                  "parameters": {
                    "__IMTCONN__": 2061306
                  },
                  "filter": {
                    "name": "is youtube",
                    "conditions": [
                      [
                        {
                          "a": "{{1.url}}",
                          "b": "yout",
                          "o": "text:contain"
                        }
                      ]
                    ]
                  },
                  "mapper": {
                    "url": "{{1.url}}",
                    "title": "{{1.title}}",
                    "author": "",
                    "comment": "",
                    "content": "{{1.url}}",
                    "resourceId": "user/1f8f1ced-acd8-45a4-ab65-07ff06bbbd49/tag/d853815c-576b-43c5-a409-88172088723c"
                  },
                  "metadata": {
                    "designer": {
                      "x": 1500,
                      "y": 600
                    },
                    "restore": {
                      "expect": {
                        "resourceId": {
                          "label": "Automation"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "feedly"
                          },
                          "label": "feedly auth (hernackikacper@gmail.com)"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:feedly",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "url",
                        "type": "url",
                        "label": "Article URL",
                        "required": true
                      },
                      {
                        "name": "resourceId",
                        "type": "select",
                        "label": "Board",
                        "required": true
                      },
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Article Content",
                        "required": true
                      },
                      {
                        "name": "title",
                        "type": "text",
                        "label": "Article Title",
                        "required": true
                      },
                      {
                        "name": "author",
                        "type": "text",
                        "label": "Article Author"
                      },
                      {
                        "name": "comment",
                        "type": "text",
                        "label": "Note"
                      }
                    ]
                  }
                },
                {
                  "id": 18,
                  "module": "notion:createAPage",
                  "version": 1,
                  "parameters": {
                    "__IMTCONN__": 2062024
                  },
                  "mapper": {
                    "fields": [
                      {
                        "key": "Name",
                        "type": "title",
                        "value": "{{8.title}}"
                      },
                      {
                        "key": "context",
                        "type": "rich_text",
                        "value": "{{8.softTitle}}"
                      },
                      {
                        "key": "Tags",
                        "type": "multi_select",
                        "value": "{{8.tags[]}}"
                      },
                      {
                        "key": "URL",
                        "type": "url",
                        "value": "{{1.url}}"
                      }
                    ],
                    "select": "map",
                    "database": "4f509ca4-c7bf-4dbf-ab46-3a3e8d11aa40"
                  },
                  "metadata": {
                    "designer": {
                      "x": 1800,
                      "y": 600
                    },
                    "restore": {
                      "expect": {
                        "fields": {
                          "mode": "chose",
                          "items": [
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Title"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Rich text"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "Multi select"
                              },
                              "value": {
                                "mode": "edit"
                              }
                            },
                            {
                              "type": {
                                "mode": "chose",
                                "label": "URL"
                              }
                            }
                          ]
                        },
                        "select": {
                          "label": "Enter manually"
                        }
                      },
                      "parameters": {
                        "__IMTCONN__": {
                          "data": {
                            "scoped": "true",
                            "connection": "notion3"
                          },
                          "label": "Notion Internal connection"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                          "enum": [
                            "map",
                            "list"
                          ]
                        }
                      },
                      {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                      },
                      {
                        "name": "fields",
                        "spec": [
                          {
                            "name": "key",
                            "type": "text",
                            "label": "Key",
                            "required": true
                          },
                          {
                            "name": "type",
                            "type": "select",
                            "label": "Value Type",
                            "options": [
                              {
                                "label": "Title",
                                "value": "title",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Text",
                                "value": "text",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ],
                                "default": true
                              },
                              {
                                "label": "Rich text",
                                "value": "rich_text",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Email",
                                "value": "email",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Select",
                                "value": "select",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Status",
                                "value": "status",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Multi select",
                                "value": "multi_select",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Phone number",
                                "value": "phone_number",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Checkbox",
                                "value": "checkbox",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "boolean",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "url",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Number",
                                "value": "number",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "number",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "People",
                                "value": "people",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              },
                              {
                                "label": "Date",
                                "value": "date",
                                "nested": [
                                  {
                                    "name": "date",
                                    "spec": [
                                      {
                                        "name": "start",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Time"
                                      },
                                      {
                                        "help": "Optional. Use only when entering a date range.",
                                        "name": "end",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Time"
                                      },
                                      {
                                        "name": "includeTime",
                                        "type": "select",
                                        "label": "Include Time",
                                        "options": [
                                          {
                                            "label": "Yes",
                                            "value": true
                                          },
                                          {
                                            "label": "No",
                                            "value": false
                                          }
                                        ]
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                  }
                                ]
                              },
                              {
                                "label": "Relation",
                                "value": "relation",
                                "nested": [
                                  {
                                    "name": "value",
                                    "type": "array",
                                    "label": "Value"
                                  }
                                ]
                              }
                            ],
                            "required": true
                          }
                        ],
                        "type": "array",
                        "label": "Fields"
                      }
                    ],
                    "interface": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                      },
                      {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                      },
                      {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                      },
                      {
                        "name": "created_by",
                        "spec": [
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "id",
                            "type": "uuid",
                            "label": "ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Created by"
                      },
                      {
                        "name": "last_edited_by",
                        "spec": [
                          {
                            "name": "object",
                            "type": "text",
                            "label": "Object"
                          },
                          {
                            "name": "id",
                            "type": "uuid",
                            "label": "ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                      },
                      {
                        "name": "icon",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "emoji",
                            "type": "text",
                            "label": "Emoji"
                          }
                        ],
                        "type": "collection",
                        "label": "Icon"
                      },
                      {
                        "name": "cover",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "external",
                            "spec": [
                              {
                                "name": "url",
                                "type": "text",
                                "label": "URL"
                              }
                            ],
                            "type": "collection",
                            "label": "External"
                          }
                        ],
                        "type": "collection",
                        "label": "Cover"
                      },
                      {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                      },
                      {
                        "name": "parent",
                        "spec": [
                          {
                            "name": "type",
                            "type": "text",
                            "label": "Type"
                          },
                          {
                            "name": "workspace",
                            "type": "boolean",
                            "label": "Workspace"
                          },
                          {
                            "name": "page_id",
                            "type": "text",
                            "label": "Page ID"
                          },
                          {
                            "name": "database_id",
                            "type": "text",
                            "label": "Database ID"
                          }
                        ],
                        "type": "collection",
                        "label": "Parent"
                      },
                      {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                      },
                      {
                        "name": "properties",
                        "spec": {
                          "spec": [
                            {
                              "name": "id",
                              "type": "text",
                              "label": "ID"
                            },
                            {
                              "name": "type",
                              "type": "text",
                              "label": "Type"
                            },
                            {
                              "name": "people",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "object",
                                    "type": "text",
                                    "label": "Object"
                                  },
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "avatar_url",
                                    "type": "text",
                                    "label": "Avatar Url"
                                  },
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "person",
                                    "spec": [
                                      {
                                        "name": "email",
                                        "type": "text",
                                        "label": "Email"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Person"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "People"
                            },
                            {
                              "name": "url",
                              "type": "text",
                              "label": "URL"
                            },
                            {
                              "name": "text",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "text",
                                    "spec": [
                                      {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                      },
                                      {
                                        "name": "link",
                                        "type": "text",
                                        "label": "Link"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                  },
                                  {
                                    "name": "annotations",
                                    "spec": [
                                      {
                                        "name": "bold",
                                        "type": "boolean",
                                        "label": "Bold"
                                      },
                                      {
                                        "name": "italic",
                                        "type": "boolean",
                                        "label": "Italic"
                                      },
                                      {
                                        "name": "strikethrough",
                                        "type": "boolean",
                                        "label": "Strikethrough"
                                      },
                                      {
                                        "name": "underline",
                                        "type": "boolean",
                                        "label": "Underline"
                                      },
                                      {
                                        "name": "code",
                                        "type": "boolean",
                                        "label": "Code"
                                      },
                                      {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                  },
                                  {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                  },
                                  {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Text"
                            },
                            {
                              "name": "select",
                              "spec": [
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "color",
                                  "type": "text",
                                  "label": "Color"
                                }
                              ],
                              "type": "collection",
                              "label": "Select"
                            },
                            {
                              "name": "email",
                              "type": "text",
                              "label": "Email"
                            },
                            {
                              "name": "phone_number",
                              "type": "text",
                              "label": "Phone Number"
                            },
                            {
                              "name": "multi_select",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  },
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Multi Select"
                            },
                            {
                              "name": "date",
                              "spec": [
                                {
                                  "name": "start",
                                  "type": "text",
                                  "label": "Start"
                                },
                                {
                                  "name": "end",
                                  "type": "text",
                                  "label": "End"
                                }
                              ],
                              "type": "collection",
                              "label": "Date"
                            },
                            {
                              "name": "checkbox",
                              "type": "boolean",
                              "label": "Checkbox"
                            },
                            {
                              "name": "number",
                              "type": "number",
                              "label": "Number"
                            },
                            {
                              "name": "files",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Files"
                            },
                            {
                              "name": "title",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                  },
                                  {
                                    "name": "text",
                                    "spec": [
                                      {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                      },
                                      {
                                        "name": "link",
                                        "type": "text",
                                        "label": "Link"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Text"
                                  },
                                  {
                                    "name": "annotations",
                                    "spec": [
                                      {
                                        "name": "bold",
                                        "type": "boolean",
                                        "label": "Bold"
                                      },
                                      {
                                        "name": "italic",
                                        "type": "boolean",
                                        "label": "Italic"
                                      },
                                      {
                                        "name": "strikethrough",
                                        "type": "boolean",
                                        "label": "Strikethrough"
                                      },
                                      {
                                        "name": "underline",
                                        "type": "boolean",
                                        "label": "Underline"
                                      },
                                      {
                                        "name": "code",
                                        "type": "boolean",
                                        "label": "Code"
                                      },
                                      {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Annotations"
                                  },
                                  {
                                    "name": "plain_text",
                                    "type": "text",
                                    "label": "Plain Text"
                                  },
                                  {
                                    "name": "href",
                                    "type": "text",
                                    "label": "Href"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Title"
                            },
                            {
                              "name": "last_edited_time",
                              "time": true,
                              "type": "date",
                              "label": "Last Edited Time"
                            },
                            {
                              "name": "created_time",
                              "time": true,
                              "type": "date",
                              "label": "Created Time"
                            },
                            {
                              "name": "last_edited_by",
                              "spec": [
                                {
                                  "name": "object",
                                  "type": "text",
                                  "label": "Object"
                                },
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "avatar_url",
                                  "type": "text",
                                  "label": "Avatar Url"
                                },
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "person",
                                  "spec": [
                                    {
                                      "name": "email",
                                      "type": "text",
                                      "label": "Email"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Person"
                                }
                              ],
                              "type": "collection",
                              "label": "Last Edited By"
                            },
                            {
                              "name": "created_by",
                              "spec": [
                                {
                                  "name": "object",
                                  "type": "text",
                                  "label": "Object"
                                },
                                {
                                  "name": "id",
                                  "type": "text",
                                  "label": "ID"
                                },
                                {
                                  "name": "name",
                                  "type": "text",
                                  "label": "Name"
                                },
                                {
                                  "name": "avatar_url",
                                  "type": "text",
                                  "label": "Avatar Url"
                                },
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "person",
                                  "spec": [
                                    {
                                      "name": "email",
                                      "type": "text",
                                      "label": "Email"
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Person"
                                }
                              ],
                              "type": "collection",
                              "label": "Created By"
                            },
                            {
                              "name": "formula",
                              "spec": [
                                {
                                  "name": "type",
                                  "type": "text",
                                  "label": "Type"
                                },
                                {
                                  "name": "string",
                                  "type": "text",
                                  "label": "String"
                                }
                              ],
                              "type": "collection",
                              "label": "Formula"
                            },
                            {
                              "name": "relation",
                              "spec": {
                                "spec": [
                                  {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                  }
                                ],
                                "type": "collection"
                              },
                              "type": "array",
                              "label": "Relation"
                            },
                            {
                              "name": "label",
                              "type": "text",
                              "label": "Label"
                            }
                          ],
                          "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                      },
                      {
                        "name": "properties_value",
                        "spec": [
                          {
                            "name": "context",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "context"
                          },
                          {
                            "name": "description",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "description"
                          },
                          {
                            "name": "Created",
                            "type": "date",
                            "label": "Created"
                          },
                          {
                            "name": "Tags",
                            "spec": [
                              {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                              },
                              {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                              },
                              {
                                "name": "color",
                                "type": "text",
                                "label": "Color"
                              }
                            ],
                            "type": "array",
                            "label": "Tags"
                          },
                          {
                            "name": "URL",
                            "type": "text",
                            "label": "URL"
                          },
                          {
                            "name": "Name",
                            "spec": [
                              {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                              },
                              {
                                "name": "text",
                                "spec": [
                                  {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Content"
                                  },
                                  {
                                    "name": "link",
                                    "type": "text",
                                    "label": "Link"
                                  }
                                ],
                                "type": "collection",
                                "label": "Text"
                              },
                              {
                                "name": "annotations",
                                "spec": [
                                  {
                                    "name": "bold",
                                    "type": "boolean",
                                    "label": "Bold"
                                  },
                                  {
                                    "name": "italic",
                                    "type": "boolean",
                                    "label": "Italic"
                                  },
                                  {
                                    "name": "strikethrough",
                                    "type": "boolean",
                                    "label": "Strikethrough"
                                  },
                                  {
                                    "name": "underline",
                                    "type": "boolean",
                                    "label": "Underline"
                                  },
                                  {
                                    "name": "code",
                                    "type": "boolean",
                                    "label": "Code"
                                  },
                                  {
                                    "name": "color",
                                    "type": "text",
                                    "label": "Color"
                                  }
                                ],
                                "type": "collection",
                                "label": "Annotations"
                              },
                              {
                                "name": "plain_text",
                                "type": "text",
                                "label": "Plain Text"
                              },
                              {
                                "name": "href",
                                "type": "text",
                                "label": "Href"
                              }
                            ],
                            "type": "array",
                            "label": "Name"
                          }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                      }
                    ]
                  }
                },
                {
                  "id": 15,
                  "module": "gateway:WebhookRespond",
                  "version": 1,
                  "parameters": { },
                  "mapper": {
                    "body": "{\"status\": \"error\", \"message\": \"Link saved\"}",
                    "status": "200",
                    "headers": [
                      {
                        "key": "Content-Type",
                        "value": "application/json"
                      }
                    ]
                  },
                  "metadata": {
                    "designer": {
                      "x": 2100,
                      "y": 600,
                      "name": "Sucess"
                    },
                    "restore": {
                      "expect": {
                        "headers": {
                          "mode": "chose",
                          "items": [
                            null
                          ]
                        }
                      }
                    },
                    "expect": [
                      {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                          "min": 100
                        }
                      },
                      {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                      },
                      {
                        "name": "headers",
                        "spec": [
                          {
                            "name": "key",
                            "type": "text",
                            "label": "Key",
                            "required": true,
                            "validate": {
                              "max": 256
                            }
                          },
                          {
                            "name": "value",
                            "type": "text",
                            "label": "Value",
                            "required": true,
                            "validate": {
                              "max": 4096
                            }
                          }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                          "maxItems": 16
                        }
                      }
                    ],
                    "advanced": true
                  }
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "id": 6,
      "module": "airtable:ActionCreateRecord",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 2061247
      },
      "mapper": {
        "base": "appk3kD0bgWI7ZYEK",
        "table": "tbl2tT5GR5CzzB1nm",
        "record": {
          "fldVB2VZCVtsOI5Dg": "{{1.url}}",
          "fldXb7nw41kjiGQeH": "{{8.title}}",
          "fldpWWOrDf4NA6rJB": "{{4.data}}",
          "fldqRTrCZjkxwsghn": "{{8.tags}}",
          "fldrQEG3SwXePmCTl": "{{8.description}}"
        },
        "typecast": false,
        "useColumnId": false
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0,
          "name": "Save Link"
        },
        "restore": {
          "expect": {
            "base": {
              "label": "AI Assistant"
            },
            "table": {
              "label": "Resources",
              "nested": [
                {
                  "name": "record",
                  "spec": [
                    {
                      "name": "fldXb7nw41kjiGQeH",
                      "type": "text",
                      "label": "title"
                    },
                    {
                      "name": "fldrQEG3SwXePmCTl",
                      "type": "text",
                      "label": "description",
                      "multiline": true
                    },
                    {
                      "name": "fldVB2VZCVtsOI5Dg",
                      "type": "text",
                      "label": "url"
                    },
                    {
                      "name": "fldpWWOrDf4NA6rJB",
                      "type": "text",
                      "label": "content",
                      "multiline": true
                    },
                    {
                      "name": "fldqRTrCZjkxwsghn",
                      "type": "text",
                      "label": "tags"
                    }
                  ],
                  "type": "collection",
                  "label": "Record"
                }
              ]
            },
            "typecast": {
              "mode": "chose"
            },
            "useColumnId": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "airtable3"
              },
              "label": "My Airtable OAuth connection (User ID: usrxkGKZNNtgptKJH)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:airtable3,airtable2",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "base",
            "type": "select",
            "label": "Base",
            "required": true
          },
          {
            "name": "typecast",
            "type": "boolean",
            "label": "Smart links",
            "required": true
          },
          {
            "name": "useColumnId",
            "type": "boolean",
            "label": "Use Column ID",
            "required": true
          },
          {
            "name": "table",
            "type": "select",
            "label": "Table",
            "required": true
          },
          {
            "name": "record",
            "spec": [
              {
                "name": "fldXb7nw41kjiGQeH",
                "type": "text",
                "label": "title"
              },
              {
                "name": "fldrQEG3SwXePmCTl",
                "type": "text",
                "label": "description"
              },
              {
                "name": "fldVB2VZCVtsOI5Dg",
                "type": "text",
                "label": "url"
              },
              {
                "name": "fldpWWOrDf4NA6rJB",
                "type": "text",
                "label": "content"
              },
              {
                "name": "fldqRTrCZjkxwsghn",
                "type": "text",
                "label": "tags"
              }
            ],
            "type": "collection",
            "label": "Record"
          }
        ],
        "interface": [
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "createdTime",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "record_id",
            "type": "text",
            "label": "record_id"
          },
          {
            "name": "title",
            "type": "text",
            "label": "title"
          },
          {
            "name": "description",
            "type": "text",
            "label": "description",
            "multiline": true
          },
          {
            "name": "url",
            "type": "text",
            "label": "url"
          },
          {
            "name": "content",
            "type": "text",
            "label": "content",
            "multiline": true
          },
          {
            "name": "tags",
            "type": "text",
            "label": "tags"
          },
          {
            "name": "created_at",
            "type": "date",
            "label": "created_at"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 16,
      "module": "notion:createAPage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 2062024
      },
      "mapper": {
        "fields": [
          {
            "key": "Name",
            "type": "title",
            "value": "{{8.title}}"
          },
          {
            "key": "context",
            "type": "rich_text",
            "value": "{{8.softTitle}}"
          },
          {
            "key": "Tags",
            "type": "multi_select",
            "value": "{{8.tags[]}}"
          },
          {
            "key": "URL",
            "type": "url",
            "value": "{{1.url}}"
          }
        ],
        "select": "map",
        "database": "4f509ca4-c7bf-4dbf-ab46-3a3e8d11aa40"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        },
        "restore": {
          "expect": {
            "fields": {
              "mode": "chose",
              "items": [
                {
                  "type": {
                    "mode": "chose",
                    "label": "Title"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Rich text"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "Multi select"
                  },
                  "value": {
                    "mode": "edit"
                  }
                },
                {
                  "type": {
                    "mode": "chose",
                    "label": "URL"
                  }
                }
              ]
            },
            "select": {
              "label": "Enter manually"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "notion3"
              },
              "label": "Notion Internal connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a Database ID",
            "required": true,
            "validate": {
              "enum": [
                "map",
                "list"
              ]
            }
          },
          {
            "name": "database",
            "type": "text",
            "label": "Database ID",
            "required": true
          },
          {
            "name": "fields",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true
              },
              {
                "name": "type",
                "type": "select",
                "label": "Value Type",
                "options": [
                  {
                    "label": "Title",
                    "value": "title",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Text",
                    "value": "text",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ],
                    "default": true
                  },
                  {
                    "label": "Rich text",
                    "value": "rich_text",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Email",
                    "value": "email",
                    "nested": [
                      {
                        "name": "value",
                        "type": "email",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Select",
                    "value": "select",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Status",
                    "value": "status",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Multi select",
                    "value": "multi_select",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Phone number",
                    "value": "phone_number",
                    "nested": [
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Checkbox",
                    "value": "checkbox",
                    "nested": [
                      {
                        "name": "value",
                        "type": "boolean",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "URL",
                    "value": "url",
                    "nested": [
                      {
                        "name": "value",
                        "type": "url",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Number",
                    "value": "number",
                    "nested": [
                      {
                        "name": "value",
                        "type": "number",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "People",
                    "value": "people",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  },
                  {
                    "label": "Date",
                    "value": "date",
                    "nested": [
                      {
                        "name": "date",
                        "spec": [
                          {
                            "name": "start",
                            "time": true,
                            "type": "date",
                            "label": "Start Time"
                          },
                          {
                            "help": "Optional. Use only when entering a date range.",
                            "name": "end",
                            "time": true,
                            "type": "date",
                            "label": "End Time"
                          },
                          {
                            "name": "includeTime",
                            "type": "select",
                            "label": "Include Time",
                            "options": [
                              {
                                "label": "Yes",
                                "value": true
                              },
                              {
                                "label": "No",
                                "value": false
                              }
                            ]
                          }
                        ],
                        "type": "collection",
                        "label": "Date"
                      }
                    ]
                  },
                  {
                    "label": "Relation",
                    "value": "relation",
                    "nested": [
                      {
                        "name": "value",
                        "type": "array",
                        "label": "Value"
                      }
                    ]
                  }
                ],
                "required": true
              }
            ],
            "type": "array",
            "label": "Fields"
          }
        ],
        "interface": [
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Database Item ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created by"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited by"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar Url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "text",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "text",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "properties_value",
            "spec": [
              {
                "name": "context",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "context"
              },
              {
                "name": "description",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "description"
              },
              {
                "name": "Created",
                "type": "date",
                "label": "Created"
              },
              {
                "name": "Tags",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ],
                "type": "array",
                "label": "Tags"
              },
              {
                "name": "URL",
                "type": "text",
                "label": "URL"
              },
              {
                "name": "Name",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "type": "collection",
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection",
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ],
                "type": "array",
                "label": "Name"
              }
            ],
            "type": "collection",
            "label": "Properties Value"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "gateway:WebhookRespond",
      "version": 1,
      "parameters": { },
      "mapper": {
        "body": "{\"status\": \"error\", \"message\": \"Link saved\"}",
        "status": "200",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0,
          "name": "Sucess"
        },
        "restore": {
          "expect": {
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            }
          }
        },
        "expect": [
          {
            "name": "status",
            "type": "uinteger",
            "label": "Status",
            "required": true,
            "validate": {
              "min": 100
            }
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key",
                "required": true,
                "validate": {
                  "max": 256
                }
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true,
                "validate": {
                  "max": 4096
                }
              }
            ],
            "type": "array",
            "label": "Custom headers",
            "validate": {
              "maxItems": 16
            }
          }
        ],
        "advanced": true
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": [ ]
    },
    "zone": "eu1.make.com"
  }
}
